<div class="country-content-main">
  <div class=""w-50 m-5>
      <div class="search">
    <input #searchCityName type="text" class="form-control" placeholder="Enter city name" 
    (keyup)="searchForecasts(searchCityName.value)">

  <ul class="list-group my-list">
      <li  *ngFor="let city of citiesFromSearch"
       (click)="getFiveDayForecasts(city)">{{city.LocalizedName}}</li>
    </ul> 
  </div>
<h2>{{cityName}}</h2>
<!-- DailyForecasts[""0""].Temperature.Maximum.Value -->
  <div class="country-content" *ngFor="let f of forcast.DailyForecasts">
    <p>{{f.Day.IconPhrase}}</p>
    <p>Minimum: {{f.Temperature.Minimum.Value}}{{f.Temperature.Minimum.Unit}} </p>
    <p>Maximum: {{f.Temperature.Maximum.Value}}{{f.Temperature.Maximum.Unit}} </p>

  </div>

<button type="button" (click)="favoriteMe()" class="btn btn-primary">add to favorite</button>

</div>